article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  max-width: 100%;
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  text-rendering: optimizeLegibility; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0; }

a {
  outline: none;
  text-decoration: none; }

@font-face {
  font-family: 'PurityTextBold';
  src: url("/fonts/puritytextbold-webfont.eot");
  src: url("/fonts/puritytextbold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/puritytextbold-webfont.woff") format("woff"), url("/fonts/puritytextbold-webfont.ttf") format("truetype"), url("/fonts/puritytextbold-webfont.svg#PurityTextBold") format("svg");
  font-weight: bold;
  font-style: bold; }

@font-face {
  font-family: 'PurityText';
  src: url("/fonts/puritytext-webfont.eot");
  src: url("/fonts/puritytext-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/puritytext-webfont.woff") format("woff"), url("/fonts/puritytext-webfont.ttf") format("truetype"), url("/fonts/puritytext-webfont.svg#PurityText") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'purity_text_lightregular';
  src: url("/fonts/puritytextlight-webfont.eot");
  src: url("/fonts/puritytextlight-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/puritytextlight-webfont.woff") format("woff"), url("/fonts/puritytextlight-webfont.ttf") format("truetype"), url("/fonts/puritytextlight-webfont.svg#purity_text_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PacificoRegular';
  src: url("/fonts/pacifico-webfont.eot");
  src: url("/fonts/pacifico-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/pacifico-webfont.woff") format("woff"), url("/fonts/pacifico-webfont.ttf") format("truetype"), url("/fonts/pacifico-webfont.svg#PacificoRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'HellenicWideJFRegular';
  src: url("/fonts/hellenicwidejf-regular-webfont.eot");
  src: url("/fonts/hellenicwidejf-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/hellenicwidejf-regular-webfont.woff") format("woff"), url("/fonts/hellenicwidejf-regular-webfont.ttf") format("truetype"), url("/fonts/hellenicwidejf-regular-webfont.svg#HellenicWideJFRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Mixins
---------------------------------------------------------------------------------------- */
/* Classes
---------------------------------------------------------------------------------------- */
.anim2s {
  -webkit-animation: 2s ease;
  -moz-animation: 2s ease;
  -ms-animation: 2s ease;
  -o-animation: 2s ease;
  animation: 2s ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.anim1s {
  -webkit-animation: 1s ease;
  -moz-animation: 1s ease;
  -ms-animation: 1s ease;
  -o-animation: 1s ease;
  animation: 1s ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.anim050s {
  -webkit-animation: .50s ease;
  -moz-animation: .50s ease;
  -ms-animation: .50s ease;
  -o-animation: .50s ease;
  animation: .50s ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.anim025s {
  -webkit-animation: .25s ease;
  -moz-animation: .25s ease;
  -ms-animation: .25s ease;
  -o-animation: .25s ease;
  animation: .25s ease;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

/* SmallBounceInDown
---------------------------------------------------------------------------------------- */
@-webkit-keyframes smallBounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px); }

  60% {
    opacity: 1;
    -webkit-transform: translateY(2px); }

  80% {
    -webkit-transform: translateY(-10px); }

  100% {
    -webkit-transform: translateY(0); } }

@-moz-keyframes smallBounceInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px); }

  60% {
    opacity: 1;
    -moz-transform: translateY(2px); }

  80% {
    -moz-transform: translateY(-10px); }

  100% {
    -moz-transform: translateY(0); } }

@-ms-keyframes smallBounceInDown {
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px); }

  60% {
    opacity: 1;
    -ms-transform: translateY(2px); }

  80% {
    -ms-transform: translateY(-10px); }

  100% {
    -ms-transform: translateY(0); } }

@-o-keyframes smallBounceInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px); }

  60% {
    opacity: 1;
    -o-transform: translateY(2px); }

  80% {
    -o-transform: translateY(-10px); }

  100% {
    -o-transform: translateY(0); } }

@keyframes smallBounceInDown {
  0% {
    opacity: 0;
    transform: translateY(-2000px); }

  60% {
    opacity: 1;
    transform: translateY(2px); }

  80% {
    transform: translateY(-10px); }

  100% {
    transform: translateY(0); } }

.smallBounceInDown {
  -webkit-animation-name: smallBounceInDown;
  -moz-animation-name: smallBounceInDown;
  -ms-animation-name: smallBounceInDown;
  -o-animation-name: smallBounceInDown;
  animation-name: smallBounceInDown; }

/* SmallBounceIn
---------------------------------------------------------------------------------------- */
@-webkit-keyframes smallBounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3); }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.02); }

  70% {
    -webkit-transform: scale(0.9); }

  100% {
    -webkit-transform: scale(1); } }

@-moz-keyframes smallBounceIn {
  0% {
    opacity: 0;
    -moz-transform: scale(0.3); }

  50% {
    opacity: 1;
    -moz-transform: scale(1.02); }

  70% {
    -moz-transform: scale(0.9); }

  100% {
    -moz-transform: scale(1); } }

@-ms-keyframes smallBounceIn {
  0% {
    opacity: 0;
    -ms-transform: scale(0.3); }

  50% {
    opacity: 1;
    -ms-transform: scale(1.02); }

  70% {
    -ms-transform: scale(0.9); }

  100% {
    -ms-transform: scale(1); } }

@-o-keyframes smallBounceIn {
  0% {
    opacity: 0;
    -o-transform: scale(0.3); }

  50% {
    opacity: 1;
    -o-transform: scale(1.02); }

  70% {
    -o-transform: scale(0.9); }

  100% {
    -o-transform: scale(1); } }

@keyframes smallBounceIn {
  0% {
    opacity: 0;
    transform: scale(0.3); }

  50% {
    opacity: 1;
    transform: scale(1.02); }

  70% {
    transform: scale(0.9); }

  100% {
    transform: scale(1); } }

.smallBounceIn {
  -webkit-animation-name: smallBounceIn;
  -moz-animation-name: smallBounceIn;
  -ms-animation-name: smallBounceIn;
  -o-animation-name: smallBounceIn;
  animation-name: smallBounceIn; }

/* FadeInLeft
---------------------------------------------------------------------------------------- */
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }

@-moz-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }

@-ms-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -ms-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -ms-transform: translateX(0); } }

@-o-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px); }

  100% {
    opacity: 1;
    -o-transform: translateX(0); } }

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px); }

  100% {
    opacity: 1;
    transform: translateX(0); } }

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -ms-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft; }

/* FadeInUp
---------------------------------------------------------------------------------------- */
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px); }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }

@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px); }

  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }

@-ms-keyframes fadeInUp {
  0% {
    opacity: 0;
    -ms-transform: translateY(20px); }

  100% {
    opacity: 1;
    -ms-transform: translateY(0); } }

@-o-keyframes fadeInUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px); }

  100% {
    opacity: 1;
    -o-transform: translateY(0); } }

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px); }

  100% {
    opacity: 1;
    transform: translateY(0); } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;
  -o-animation-name: fadeInUp;
  animation-name: fadeInUp; }

/* FlipInY
---------------------------------------------------------------------------------------- */
@-webkit-keyframes flipInY {
  0% {
    -webkit-transform: rotateY(90deg);
    opacity: 0; }

  40% {
    -webkit-transform: rotateY(-10deg); }

  70% {
    -webkit-transform: rotateY(10deg); }

  100% {
    -webkit-transform: rotateY(0deg);
    opacity: 1; } }

@-moz-keyframes flipInY {
  0% {
    -moz-transform: rotateY(90deg);
    opacity: 0; }

  40% {
    -moz-transform: rotateY(-10deg); }

  70% {
    -moz-transform: rotateY(10deg); }

  100% {
    -moz-transform: rotateY(0deg);
    opacity: 1; } }

@-o-keyframes flipInY {
  0% {
    -o-transform: rotateY(90deg);
    opacity: 0; }

  40% {
    -o-transform: rotateY(-10deg); }

  70% {
    -o-transform: rotateY(10deg); }

  100% {
    -o-transform: rotateY(0deg);
    opacity: 1; } }

@keyframes flipInY {
  0% {
    transform: rotateY(90deg);
    opacity: 0; }

  40% {
    transform: rotateY(-10deg); }

  70% {
    transform: rotateY(10deg); }

  100% {
    transform: rotateY(0deg);
    opacity: 1; } }

.flipInY {
  -webkit-animation-name: flipInY;
  -moz-animation-name: flipInY;
  -o-animation-name: flipInY;
  animation-name: flipInY; }

/* Pulsate
---------------------------------------------------------------------------------------- */
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.01);
    opacity: 0.0; }

  9% {
    -webkit-transform: scale(0.09);
    opacity: 0.0; }

  10% {
    -webkit-transform: scale(0.1);
    opacity: 1.0; }

  70% {
    -webkit-transform: scale(0.7);
    opacity: 1.0; }

  100% {
    -webkit-transform: scale(1);
    opacity: 0.0; } }

@-moz-keyframes pulsate {
  0% {
    -moz-transform: scale(0.01);
    opacity: 0.0; }

  9% {
    -moz-transform: scale(0.09);
    opacity: 0.0; }

  10% {
    -moz-transform: scale(0.1);
    opacity: 1.0; }

  70% {
    -moz-transform: scale(0.7);
    opacity: 1.0; }

  100% {
    -moz-transform: scale(1);
    opacity: 0.0; } }

@-o-keyframes pulsate {
  0% {
    -o-transform: scale(0.01);
    opacity: 0.0; }

  9% {
    -o-transform: scale(0.09);
    opacity: 0.0; }

  10% {
    -o-transform: scale(0.1);
    opacity: 1.0; }

  70% {
    -o-transform: scale(0.7);
    opacity: 1.0; }

  100% {
    -o-transform: scale(1);
    opacity: 0.0; } }

@keyframes pulsate {
  0% {
    transform: scale(0.01);
    opacity: 0.0; }

  9% {
    transform: scale(0.09);
    opacity: 0.0; }

  10% {
    transform: scale(0.1);
    opacity: 1.0; }

  70% {
    transform: scale(0.7);
    opacity: 1.0; }

  100% {
    transform: scale(1);
    opacity: 0.0; } }

.pulsate {
  -webkit-animation-name: pulsate;
  -moz-animation-name: pulsate;
  -ms-animation-name: pulsate;
  -o-animation-name: pulsate;
  animation-name: pulsate; }

.andrew hgroup h1 {
  font-size: 1.9em; }

html {
  -webkit-font-smoothing: antialiased; }

body {
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 1.1em;
  line-height: 1.5em;
  background: #000; }

.win body, .linux body {
  font-family: Arial,sans-serif; }

a {
  font-weight: bold;
  color: #0099cc; }

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-position: center center;
  background-repeat: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h1, h2 {
  display: block;
  position: relative;
  font-family: "PurityTextBold"; }

h1 {
  font-size: 2.1em;
  white-space: nowrap; }

h2 {
  font-size: 1.2em;
  margin: 4px 0 20px;
  color: rgba(0, 0, 0, 0.7); }

h3 {
  font-size: 1.2em;
  font-family: "PurityTextBold"; }

#card {
  width: 660px;
  height: 220px;
  position: absolute;
  top: 62%;
  left: 50%;
  margin: -110px 0 0 -330px;
  z-index: 200;
  cursor: default;
  background: #FFF;
  background: rgba(255, 255, 255, 0.98) url("/img/noise.png") 0 0 repeat;
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
  -khtml-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px 1px white; }

.inner {
  margin: 32px 40px 0 10px; }

.info-block {
  width: 358px; }

hgroup {
  text-align: right; }

hgroup h1 {
  line-height: 1.1em; }

#vcard {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  background: url("/img/vcard-download.png") 0 0 no-repeat;
  text-indent: -99999px;
  -webkit-border-top-left-radius: 8px;
  -khtml-border-radius-topleft: 8px;
  -moz-border-radius-topleft: 8px;
  -ms-border-radius-topleft: 8px;
  border-top-left-radius: 8px; }

.contact {
  margin: 20px -4px 0 0;
  float: right; }

.contact li, .contact a {
  display: block;
  overflow: hidden;
  width: 50px;
  height: 52px;
  padding: 0 8px 0 0;
  text-indent: -99999px; }

.contact li {
  float: left; }

.contact span {
  display: none; }

.contact a {
  background: url("/img/social-icons.png") 0 0 no-repeat; }

.contact .phone a {
  background-position: -230px 0; }

.contact .phone a:hover {
  background-position: -230px -55px; }

.contact .skype a {
  background-position: 2px 0; }

.contact .skype a:hover {
  background-position: 2px -55px; }

.contact .mail a {
  background-position: -56px 0; }

.contact .mail a:hover {
  background-position: -56px -55px; }

.contact .twitter a {
  background-position: -114px 0; }

.contact .twitter a:hover {
  background-position: -114px -55px; }

.contact .facebook a {
  background-position: -172px 0; }

.contact .facebook a:hover {
  background-position: -172px -55px; }

.contact .dribbble a {
  background-position: -288px 0; }

.contact .dribbble a:hover {
  background-position: -288px -55px; }

.contact .github a {
  background-position: -346px 0; }

.contact .github a:hover {
  background-position: -346px -55px; }

.contact .vcard a {
  background-position: -404px 0; }

.contact .vcard a:hover {
  background-position: -404px -55px; }

article p {
  margin: 12px 0 28px 0; }

#photo-info {
  position: fixed;
  bottom: 25px;
  left: 25px;
  font-size: .8em;
  line-height: 1.3em; }

#photo-info, #photo-info a {
  font-weight: 500;
  cursor: default;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9); }

#photo-info span {
  display: block;
  clear: both; }

#location {
  padding-left: 18px;
  background: url("/img/location.png") 0 2px no-repeat; }

#copyright {
  opacity: .6;
  padding-left: 18px;
  background: url("/img/copyright.png") 0 1px no-repeat; }

#map {
  width: 270px;
  height: 220px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #f7f7f7;
  overflow: visible;
  -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) inset;
  -khtml-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) inset;
  -moz-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) inset;
  -ms-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 1px 0 10px rgba(0, 0, 0, 0.2) inset;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 0;
  -khtml-border-radius-topleft: 0;
  -khtml-border-radius-topright: 8px;
  -khtml-border-radius-bottomright: 8px;
  -khtml-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 8px;
  -moz-border-radius-bottomright: 8px;
  -moz-border-radius-bottomleft: 0;
  -ms-border-radius-topleft: 0;
  -ms-border-radius-topright: 8px;
  -ms-border-radius-bottomright: 8px;
  -ms-border-radius-bottomleft: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 0; }

#pin, #pin-glow {
  position: absolute;
  display: block;
  z-index: 300;
  display: none; }

#pin {
  width: 19px;
  height: 43px;
  top: 50%;
  left: 50%;
  margin: -38px 0 0 -6px;
  background: url("/img/map-pin.png") 0 0 no-repeat; }

#pin-glow {
  width: 85px;
  height: 85px;
  top: 50%;
  left: 50%;
  margin: -42px 0 0 -40px;
  z-index: 100;
  background: transparent url("/img/pin-glow.png") center center no-repeat;
  background-size: 85px 85px;
  opacity: 1.0;
  -webkit-animation-name: pulsate;
  -moz-animation-name: pulsate;
  -ms-animation-name: pulsate;
  -o-animation-name: pulsate;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
  -ms-animation-direction: normal;
  -o-animation-direction: normal;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  -o-animation-timing-function: linear; }

#popup {
  width: 240px;
  height: 110px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -145px 0 0 -48px;
  background: url("/img/popup.png") 0 0 no-repeat;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.pop-inner {
  position: relative;
  top: 8px;
  left: 10px; }

#city-info {
  float: left;
  color: #FFF;
  position: relative;
  top: 18px;
  left: 16px;
  text-shadow: 0 -1px 1px black; }

#city-info span, #city-info strong {
  display: block;
  clear: both;
  font-family: 'PurityTextBold';
  font-weight: normal;
  cursor: default; }

#popup span {
  color: rgba(255, 255, 255, 0.8);
  font-size: .8em;
  line-height: .9em;
  padding-top: 5px; }

#popup #city-name {
  font-weight: bold;
  font-size: 1.1em;
  line-height: 1.3em; }

#clock {
  position: relative;
  top: 4px;
  left: 6px;
  float: left; }

.tooltip {
  width: 130px;
  height: 36px;
  position: absolute;
  z-index: 1100;
  display: block;
  cursor: default;
  color: transparent;
  background: url("/img/back-to-dcovery.png") 0 0 no-repeat;
  -webkit-animation: 0.35s fadeInLeft;
  -moz-animation: 0.35s fadeInLeft;
  -ms-animation: 0.35s fadeInLeft;
  -o-animation: 0.35s fadeInLeft;
  animation: 0.35s fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

.js #dcovery, .js #card, .js .contact a, .js #popup, .js #photo-info {
  display: none; }

.opera #pin-glow {
  display: none !important; }

.ie #pin-glow {
  display: none !important; }

#photo-info a:hover {cursor: pointer}
